{{define "body"}}

<!doctype html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http_equiv="Content-Type" content="text/html; charser=UTF-8" />
        <title></title>
    </head>

    <body>
        <p>{{.message}}</p>
    </body>

</html>

{{end}}